<!DOCTYPE html>
<html>
  <head>
    <title>KakeiboApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-gray-50">
    <%# yield の部分に、index.html.erb などの中身が自動で入ります %>
    <%= yield %>
  </body>
</html>
